In [25]:
from Zenbot import Zenbot
import datetime

In [26]:
zen = Zenbot(params = {'id':654321, 'events' : [], 'tasks' : []})
zen.add_task(zen.zenbotid)
zen.tasks

In [27]:
zen.certifications = dict([['cert1', datetime.datetime(2016,5,5)], ['cert2', datetime.datetime(2016,2,1)]])
zen.requiredcertifications = dict([['cert1', datetime.datetime(2016,1,5)], ['cert2', datetime.datetime(2017,2,1)],['cert3', datetime.datetime(2017,5,1)]])

In [28]:
zen.tasks

In [29]:
#sometimes randomly creates duplicates
zen.new_trainings()

cert2
cert3
2016-05-05 00:00:00

In [30]:
for task in zen.tasks:
    print(task.description)

{'title': 'task1', 'description': 'body'}
{'title': 'cert2', 'description': '2017-02-01 00:00:00'}
{'title': 'cert3', 'description': '2017-05-01 00:00:00'}
{'title': 'cert3', 'description': '2017-05-01 00:00:00'}

In [31]:
df = zen.generate_df()

4
[['task1', 123456, 'type1', 0.0, datetime.datetime(2020, 2, 1, 0, 0), None, datetime.timedelta(1), datetime.timedelta(0), 2, '', 'body'], ['cert2', 111111, 'training', 0.0, datetime.datetime(2018, 1, 25, 17, 19, 31, 817624), None, datetime.timedelta(0, 600), datetime.timedelta(0), 0, '', '2017-02-01 00:00:00'], ['cert3', 111111, 'training', 0.0, datetime.datetime(2018, 1, 25, 17, 19, 31, 817815), None, datetime.timedelta(0, 600), datetime.timedelta(0), 0, '', '2017-05-01 00:00:00'], ['cert3', 111111, 'training', 0.0, datetime.datetime(2018, 1, 25, 17, 19, 31, 817815), None, datetime.timedelta(0, 600), datetime.timedelta(0), 0, '', '2017-05-01 00:00:00']]

In [32]:
df.head(10)

,title,project_id,category,progress,deadline,date_completed,dur_estim,time_on_task,effort,dependency_of,description,remaining_time,completed,overdue,at_risk
0,task1,123456,type1,0.0,2020-02-01 00:00:00.000000,None,1 days 00:00:00,0 days,2,,body,0 days,0,0,0
1,cert2,111111,training,0.0,2018-01-25 17:19:31.817624,None,0 days 00:10:00,0 days,0,,2017-02-01 00:00:00,0 days,0,0,0
2,cert3,111111,training,0.0,2018-01-25 17:19:31.817815,None,0 days 00:10:00,0 days,0,,2017-05-01 00:00:00,0 days,0,0,0
3,cert3,111111,training,0.0,2018-01-25 17:19:31.817815,None,0 days 00:10:00,0 days,0,,2017-05-01 00:00:00,0 days,0,0,0

In [33]:
zen.remove_old()

4

In [35]:
a = zen.make_today_schedule()

In [36]:
a.tasks

[9.013458950201883, 10.428571428571429, 10.428571428571429, 10.428571428571429]

In [22]:
a = [1,2,1,3,1,5]

In [23]:
a.sort()

In [24]:
a

[1, 1, 1, 2, 3, 5]